/**
* homepage-footer.css
*
* Description
* This CSS defines the styling of the content inside the footer and the footer itself
*
*/

/*
    ************************************************************************
    *                       GLOBAL CSS RULES                               *
    ************************************************************************
*/

/*
    #HOMEPAGE-FOOTER
    This CSS rule defines the CSS propeties applied to the footer element
        position:   This sets a position of type relative to the element.
        width:      This sets the width of the element in order to make id occupy all the space
        backg:      This sets background color to the footer
        font-fam:   This sets a font family to the footer
        display:    This changhes the display to inline block to modify width and height
*/    
#homepage-footer{
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: #333;
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
}

    /*
        #HOMEPAGE-FOOTER IMG
        This CSS rule is used to define the attributes of the images inside the footer 
            position:   This defines a relative position to the image to better display it in its container
            height:     This sets a precise height to the image
    */
    #homepage-footer img {
        position: relative;
        top: 5px;
        height: 90%;
    }

    /*
        #HOMEPAGE-FOOTER H3
        This CSS rule styles the h3 element inside the footer (which have the #homepage class).
            float:  This makes the element float to the right of its container (to show the text on the right of the
                    footer)
            color:  This sets a color to the footer
    */
    #homepage-footer h3 {
        float: right;
        color: rgb(125, 125, 125);
        
    }

    /*
        #HOMEPAGE-FOOTER A
            This CSS rule sets a precise color to the anchor
    */
    #homepage-footer a{
        color: rgb(125, 125, 125);
    } 



/*
    ************************************************************************
    *               MEDIA QUERY FOR THE DESKTOP VERSION                    *
    ************************************************************************
*/
@media only screen and (min-width:800px){
    /*
        #HOMEPAGE-FOOTER
        This CSS rule adds additional CSS stying for the desktop version of the footer
        redefining its height.
    */
    #homepage-footer{
        height: 100px;
    }
        /*
            #HOMEPAGE-FOOTER H3
            This CSS rule adds additional styling for the element in the desktop version
                line-height:    This is used to define the height of the line of the text (
                                to the max in this context)
                margin:         This sets a precise left and right margin of the element
        */
        #homepage-footer h3 {
            line-height: 100px;
            margin: 0 30px;
        }
}

/*
    ************************************************************************
    *               MEDIA QUERY FOR THE MOBILE VERSION                     *
    ************************************************************************
*/
@media only screen and (max-width: 799px){
    /*
        This CSS rule adds additional styling for the footer element in the
        desktop version. In particular, it defines a specific height 
        (a content view more restricted in the mobile version).
    */
    #homepage-footer{
        height: 50px;
    }

    /*
        #HOMEPAGE-FOOTER H3
        This CSS rule adds additional styling for the mobile version. It adds:
            font-size:  This modifies the default font-size assigned before
                        making the element more tiny in the mobile version

            line-h:     This is used to define an height for the mobile version
            margin:     This is used 
            padding:    This is used to add an additioal padding to the right of the element
    */
    #homepage-footer h3{
        font-size: x-small;
        line-height: 50px;
        margin: 0;
        padding-right: 15px;
    }
}


