/**
* homepage-main.css
*
* Description
* This CSS document contains the styling of the main elements contained in the <main> tag (the sections and it's content in particular).
*/

/*
    MARGIN
    This CSS rule styles the main element
        background-image:   This sets a background image using a relative path
        background-rep..:   This specifies that the image wont be repeated
        background-size :   This specifies that the background image will be bigger enough to cover
                            all the space occupied by the main element
        font-family     :   This sets a specific font family for the whole element.
*/
main{
    background-image: url("../../images/backgrounds/main-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
}

/*
    #NEWS-SECTION
    This CSS rule styles the news section container:
        width:  This sets a precise width to the header (so that the element can cover all the space)
        height: This sets a precise height to the header(so that the element can cover a precise space)
        padd  : This sets a precise left and top paddings in order to add space between the content 
                and the left border and the top border of the container
*/
#news-section{
    width: 100%;   
    padding-left: 5%;
    padding-top: 5%;
    position: relative;
}
    /*
        #NEWS-SECTION H2
        This CSS rule styles the <h2> element inside the news section container
            margin:     This adds a lower margin in order to distance the element from the others
            color:      This defines a precise color of the element 
    */
    #news-section h2{
        margin-bottom: 2%;
        color: whitesmoke;

    }

/*
    .SINGLE-NEWS
    This CSS rule styles the elements with the "single-news" class (The elements inside the news-section excluding the h2 el.)
        color:  This defines a precise color of the elements
        disp :  This defines a precise display of the element (it was chosen because of the need to define width and height
                and the need to conserve the inline property)
        width:  This defines a precise width of the elements
        padd :  This defines a precise orizontal padding of the elements in order to distance themselves
*/
.single-news{
    color: white;
    display: inline-block;
}
    /*
        .SINGLE-NEWS IMG
        This CSS rule styles the images contained in the .single-news elements
            width:  This defines a precise width (defined so that the image would occupy all the space of its parent element)
    */
    .single-news img{
        width: 100%;
    }   


/*
    #GALLERY-SECTION
    This CSS rule styles the gallery section container:
        width:  This sets a precise width to the header (so that the element can cover all the space)
        height: This sets a precise height to the header(so that the element can cover a precise space)
*/
#gallery-section{
    width: 100%;
}
    /*
        #GALLERY-SECTION H2
        This CSS rule styles the <h2> element inside the gallery section container
            margin:     This adds a lower margin in order to distance the element from the others
            padding:    This defines a precise padding left and top to distance the element from the others
            color:      This defines a precise color of the element 
    */
    #gallery-section h2{
        margin-bottom: 2%;
        padding-left: 5%;
        padding-top: 5%;
        color: whitesmoke;
    }



/*
    .SINGLE-IMAGE-SECTION
    This CSS rule styles the images inside the gallery section (the figure elements that contain the images)
        padding:    This resets the element padding
        margin:     This centers the elements adding the same margin both in the left and the right of the element
        color:      This defines a precise color of the element
        width:      This defines a precise width of the element
        posit :     This sets the position type of the element to relative (in order to position the navigation buttons)

*/
.single-image-section{
    display: block;
    color: white;
    width: 50%;
    height: 60%;
    margin: 0 auto;
    padding:0;
    position: relative;
}
    /*
        .SINGLE-IMAGE-SECTION IMG
        This CSS rule styles the proper images inside their containers (the <figure> elements)
            width:  This is set in order to make the image cover all of the space of its container
    */
    .single-image-section img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }



/* 
    .NAV-BUTTON
    This CSS rule styles the navigation buttons (the elements with the .nav-button class)
        color:      This sets a precise color of the element.
        font-size:  This sets a precise size of the button
*/
.nav-button{
    color:whitesmoke;
    font-size:48px;
}
    /* This changes the type of cursor and the background color when the navigation button is hovered */
    .nav-button:hover{
        cursor: pointer;
        background-color: darkgray;
    }


/*
    #NEWS-CONTAINER
    This CSS rule styles the element that has the "news-container" ID.
        position:   This is used to style the button's position
*/
#news-container{
    position: relative;
}

/*
    This is used to define an overflow for the caption for every figure that has a .single news class
*/
.single-news figcaption{
    height: 20px;
    overflow: auto;
}
    /* 
        This CSS rule changes the styling of the caption inside 
        the figure to make it easy to read from the user 
    */
    .single-news figcaption:hover{
        color: darkorange;
        font-weight: bold;
    }


/*
    ************************************************************************
    *               MEDIA QUERY FOR THE DESKTOP VERSION                    *
    ************************************************************************
*/
@media only screen and (min-width: 800px){
    /*
        .SINGLE-NEWS IMG
        This CSS is used to add additional style for the images for the mobile version.
            height:     This is used to define a precise height that all the images must fit
            objec..:    This is a CSS property used to crop the images without having a squished image
    */
    .single-news img{
        height:200px;
        object-fit: cover;
    }

    /*
        This CSS rule adds additional styling for the desktop version
            height:     This sets a precise height of the element.
    */
    #gallery-section{
        height: 800px; 
    }

    /*
        This CSS rule adds additional styling for the desktop version of the element
            height:     This sets a precise height of the element.
    */
    #news-section{
        height: 500px;
    }

    /*
        .SINGLE-NEWS
        This CSS rule adds additional styling for the desktop version
    */
    .single-news{
        width: 30%;
        padding: 0 2%;
    }

    /*
        .GALLERY-FORWARD-BTN
        This CSS rule adds specific CSS properties to the navigigation button (forward):
            position:   This adds a specific position of the button (relative to the figure element)
            font-size:  This makes bigger the button
    */
    .gallery-forward-btn{
        position: absolute;
            top: 45%;
            right: 0;
        font-size:48px;
    }

    /*
        .GALLERY-BACKWARD-BTN
        This CSS rule adds specific CSS properties to the navigigation button (backward):
            position:   This adds a specific position of the button (relative to the figure element)
            font-size:  This makes bigger the button
    */
    .gallery-backward-btn{
        position: absolute;
            top: 45%;
            left: 0;
        font-size:48px;
    }

    /*
        #NEWS-FORWARD-BTN
        This CSS rule styles the forward button adding specific parameters for its positioning inside the
        #news-container-element.
    */
    #news-forward-btn{
        position: absolute;
            top: 30%;
            right: 4%;  
    }

    /*
        #NEWS-BACKWARD-BTN
        This CSS rule styles the backward button adding specific parameters for its positioning inside the
        #news-container-element.
    */
    #news-backward-btn{
        position: absolute;
            top: 30%;
            left: -4%;
    }
}

/*
    ************************************************************************
    *               MEDIA QUERY FOR THE MOBILE VERSION                     *
    ************************************************************************
*/
@media only screen and (max-width: 799px){
    /*
        .SINGLE-NEWS IMG
        This CSS is used to add additional style for the images for the mobile version.
            height:     This is used to define a precise height that all the images must fit
            objec..:    This is a CSS property used to crop the images without having a squished image
    */
    .single-news img{
        height:150px;
        object-fit: cover;
    }

    /*
        #GALLERY-SECTION
        This CSS rule adds additional CSS to the mobile version of the element.
            padding:    This is used to create some space (not much as the desktop version)
                        of the entire section on order to distance it from the footer.
    */
    #gallery-section{
        padding-bottom: 50px;
        height: 400px;
    }

    /*
        #NEWS-SECTION
        This CSS rule adds additional CSS to the mobile version of the element.
            margin:     This is used to create some space (not much as the desktop version)
                        of the entire section in order to distance it from the gallery.
    */
    #news-section{
        margin-bottom: 100px;
    }

    /*
        This CSS rule adds additional CSS for the news-container. In particular, it adds spacing
        for the news container.
    */
    #news-container{
        padding-left: 6%;
    }
    /*
        .SINGLE-NEWS
        This CSS rule adds additional styling for the desktop version
    */
    .single-news{
        width: 40%;
    }

    /*
        This CSS rule adds additional styling for the mobile version of the single news section class (the figure el.)
        redefining its width to better be displayed in the mobile version.
    */
    .single-image-section{
        width: 65%;
    }



    /*
        .GALLERY-FORWARD-BTN
        This CSS rule adds specific CSS properties to the navigigation button (forward):
            position:   This adds a specific position of the button (relative to the figure element)
            font-size:  This makes bigger the button
    */
    .gallery-forward-btn{
        position: absolute;
            top: 38%;
            right: 0;
        font-size:48px;
    }
        

    /*
        .GALLERY-FORWARD-BTN
        This CSS rule adds specific CSS properties to the navigigation button (backward):
            position:   This adds a specific position of the button (relative to the figure element)
            font-size:  This makes bigger the button
    */
    .gallery-backward-btn{
        position: absolute;
            top: 38%;
            left: 0;
        font-size:48px;
    }

    /*
        #NEWS-FORWARD-BTN
        This CSS rule styles the forward button adding specific parameters for its positioning inside the
        #news-container-element (designed for the mobile version).
    */
    #news-forward-btn{
        position: absolute;
            top: 20%;
            right: 0;
    }

    /*
        #NEWS-BACKWARD-BTN
        This CSS rule styles the forward button adding specific parameters for its positioning inside the
        #news-container-element (designed for the mobile version).
    */
    #news-backward-btn{
        position: absolute;
            top: 20%;
            left: -5%;
    }

}




/*
    ************************************************************************
    *                       SERVICE CSS RULES                              *
    ************************************************************************
    *   THE FOLLOWING CSS RULES ARE USED TO ENABLE DYNAMIC BEHAVIOUR OF    *
    *   THE ELEMENTS (Ex. The gallery navigation) THROUGH JS.              *
    *                                                                      *
    ************************************************************************

*/

    /* This CSS rule changes the display to "inline-block" to all the elements that have this class */
    .show{
        display: inline-block;
    }

    /* This CSS rule changes the display to "block" to all the elements that have this class */
    .show-block{
        display: block;
    }

    /* This CSS rule hides all the elements that have this class */
    .hide{
        display: none;
    }
