/**
* index-nav.css
*
* Description
* This CSS defines the styling of the navbar placed inside the homepage (index.html)
*/


/* 
    HEADER
    This CSS rule styles the single header.
        background-image:   This sets a background image from a precise relative path
        width:              This sets a precise width to the header
        height:             This sets a precise height to the header
*/
header{
    background-image: url("../../images/homepage/placeholder-header.webp");
    position: sticky;
    top: 100px;
    z-index: 1;
    width: 100%;
    
}

/* This CSS changes the font of all the elements in the navbar */
nav * {
    font-family: 'Montserrat', sans-serif;
    font-size: large;
}

/*
    #MAIN-NAVBAR
    This CSS rule styles the element with the id main-navbar (the <nav> element).
        width:  This sets a precise width to the header (so that the element can cover all the space)
        height: This sets a precise height to the header(so that the element can cover a precise space)
        margin: This resets the margin of the element to 0
        pad..:  This sets a precise orizontal padding to better display the elements inside the #main-navbar
*/
#main-navbar{
    position: sticky;
        top:20%;
    width: 100%;
    margin: 0;
    
}

/*
        .MAIN-SINGLE-ELEMENT
        This CSS styles the single elements (the <a> elements) inside the #main-navbar element 
            height:     This sets a precise height to the header(so that the element can cover a precise space)
            width:      This sets a precise width to the header (so that the element can cover a precise space)
            padding:    This sets a precise orizontal and vertical padding to better distance the elements
            float:      This makes the elements float to the left inside the #main-navbar
            text-dec:   This resets the decoration of the text inside the <a> elements
            color:      This sets a color to the text of the <a> elements
    */
    .main-single-element {
        height: 100%;
        padding-top: 30px;
        display: inline-block;
        text-align: center;
        text-decoration: none;
        color:white;
    }

    .main-single-element:hover{
        color: rgb(95,140,255);
    }

/*
* This media query is designed to style the elements when the screen minimum width is 800px (mostly PCs and tablets).
*/
@media only screen and (min-width: 800px){

    /* This CSS rule hides the icon that is seen in the mobile version */
    #nav-icon{
        display: none;
    }

    /*
        HEADER
        This CSS rule adds the position of the sticky position in the desktop version of the page
            height:     This sets a precise height of the header
    */
    header{
            top: -328px;
        height: 400px;
    }

    /*
        #MAIN-NAVBAR
        This CSS rule styles the navbar (the nav element that possesses the "main-navbar" id).
            height:     This is used to assign a precise height to the element.
            padding:    This is used to better space the internal elements
    */
    #main-navbar{
        height: 18%;
        padding: 0 15%;
    }


    /* This CSS rule styles the logo */
    #logo-container{
        display: block;
        margin: 0 auto;
        width: 250px;
    }
        #logo-container img{
            width: 250px;
            height: 250px;
        }

    /*
        .MAIN-SINGLE-ELEMENT
        This CSS styles the single elements (the <a> elements) inside the #main-navbar element 
            height:     This sets a precise height to the header(so that the element can cover a precise space)
            width:      This sets a precise width to the header (so that the element can cover a precise space)
            padding:    This sets a precise orizontal and vertical padding to better distance the elements
            float:      This makes the elements float to the left inside the #main-navbar
            text-dec:   This resets the decoration of the text inside the <a> elements
            color:      This sets a color to the text of the <a> elements
    */
    .main-single-element {
        height: 100%;
        width: 25%;
        padding-top: 30px;
        float: left;
        text-align: center;
        text-decoration: none;
        color:white;
    }

    /*
        This CSS rule hides the responsive menu when the display width is on the larger mediaquery
    */
    #res-menu-btn{
        display: none;
    }
}


/*
* This media query is designed to style the elements when the screen maximum width is 799px (mostly phone and tablets).
*/
@media only screen and (max-width: 799px){

    /*
        .MAIN-SINGLE-ELEMENT
        This CSS rule styles the elements that possesses the .main-single-element class.
            position:   This is used to change the position of the element based on its parent
            display:    This is set to define a starting style (hidden in the mobile version)
            width:      This sets the width to the maximum of its container
            backg:      This sets a precise background color for the single cells in the navbar
            border:     This sets a precise border to distinguish the cells
    */
    .main-single-element{
        position: relative;
            top: 100%;
        display: none;
        width: 100%;
        background-color:black;
        border-top: 0.5px solid white;
    }

    /*
        HEADER, #MAIN-NAVBAR
        This CSS rule affects both the header element and the element with the #main-navbar id. 
            - top: It specifies the precise position of the sticky property declared in the beginnning
            - Height: It specifies the precise height of both elements so that the navbar will appear ridimensioned.
    */
    header, #main-navbar{
        top:0;
        height: 72px;
    }

    /*
        #NAV-ICON
        This CSS rule affects the icon added in the navbar
            Padding:    This specifies some padding on the top of the navbar (to better position the elements)
            float:      This specifies a precise float of the element
            height:     This specifies a precise height of the element
            width:      This specifies a precise width of the element.
    */
    #nav-icon{
        padding-top: 5px;
        float: right;
        height: 60px;
        width: 60px;
    }

    /* This CSS rule hides the top logo shown on top of the navbar*/
    #logo-container{
        display: none;
    }

    /*
        #RES-MENU-BTN
        This CSS rule affects the button used to display the menu in the responsive version
            padding:    This specifies a specific top and left paddings to better position the element
            color:      This defines a precise color to the element.
            font-size:  This defines a precise font-size to make the button bigger
            float:      This is used to float the button to the left.
            height:     This is used to define the height of the element.
    */
    #res-menu-btn{
        padding-top:2%;
        padding-left: 1%;
        color: white;
        font-size: xx-large;
        float: left;
        height: 70%;
    }


}