/*
 *  General and reset
 */
 
body {
    margin: 0;
}

/*
 *  Header and navbar
 */

.header {
    background-image: url("../../images/homepage/placeholder-header.webp");
    position: sticky;
    top: 0;
    z-index: 1;
    width: 100%;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.1);
    height: 100px;
}

.header-logo {
    float:left;
    display: block;
    padding: 0 20px;
    height: fit-content;
}

.header-logo img {
    height: 100px;
}

.header-menu {
    float: right;
    margin:0;
    margin-right: 30%; 
    padding:0; 
}

.header-menu-item {
    display: inline-block;
}

.header-menu-item a {
    color:#fff;
    display: block;
    padding:40px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

.header-menu-item a:hover {
    color: rgb(95, 140, 255);
    font-weight: bolder;
}

.header-icon-bar {
    display: block;
    float: right;
    padding:20px;
    display: none;
}

.header-icon-bar span {
    display: block;
    height:3px;
    width: 30px;
    background: #fff; 
    margin-bottom: 5px;
}

/*
 *	Small device menu button
 */

 .header-button {
	display:none;
	position:absolute;
	top:10px;
	right:5px;
	width:50px;
	height:50px;
	cursor:pointer;
}
.header-button-line {
	position: absolute;;
	right:12px;
	display:block;
	width:26px;
    height:2px;
    border-radius: 1em;
	background-color: white;
	-webkit-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;
}
.header-button-line:nth-child(1){
  top:16px;
}
.header-button-line:nth-child(2){
  top:24px;
}
.header-button-line:nth-child(3){
  top:32px;
}


/*
 *  Footer
 */

 .footer {
     position: relative;
     bottom: 0;
     background-color: #333;
     height: 100px;
     width: 100%;
 }

 .footer img {
    position: relative;
    top: 5px;
    height: 90px;
 }


 .footer h3 {
     color: rgb(125,125,125);
     float: right;
     line-height: 100px;
     margin: 0 30px;
 }

 a {
     text-decoration: none;
     color: rgb(125,125,125);
 }



 @media screen and (max-width: 1350px) {


    .header-menu {
        float: right;
        margin-right: 10px;
    }

    .header-menu-item a {
        padding:40px 20px;
    }
 }

 @media screen and (max-width: 785px) {

    .header {
        width: 100%;
        height: 70px;
    }

    .header-logo img {
        position: relative;
        height: 70px;
        left: -20px;
    }

    .header-button{
		display:block;
    }
    
    .header-menu {
        display: none;
    }

    .header-menu.active {
        position: absolute;
        top: 70px;
        display: block;
		height:auto;
		text-align: center;
		background-color: black;
		width: 100%;
    }
    
    .header-menu-item {
        display: block;
        width: 100%;
    }

    .footer {
        width: 100%;
        bottom: 0;
        height: 70px;
    }

    .footer img {
        top: 10px;
        height: 50px;
     }

     .footer h3 {
         font-size: small;
         line-height: 70px;
    }

  }
