body{
  background-image: url("../../images/backgrounds/main-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Montserrat', sans-serif;
}

section {
  display: inline-block;
  text-align: center;
}

.h2style {
    text-align: left;
    color: white;
    margin-left: 5%;
}

.main {
    text-align: center;
}

/* The flip card container */
.flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    margin: auto;
    display: inline-block;
    margin-left: 5%;
    margin-bottom: 5%;
    perspective: 1000px;
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  /* Style the front side */
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  /* Style the back side */
  .flip-card-back {
    background-color: black;
    color: white;
    transform: rotateY(180deg);
  }