

/*Versione Desktop

Non è stato necessario creare tre breakpoint poiché la pagina è pienamente responsive con la sola differenziazione di Mobile e Desktop



*/

@media screen and (min-width: 1100px) {
	
	
	/* Missioni

		Caratteristiche generali della pagina e sezionamento tra slider di immagini

	*/


	/*Missioni Future*/

	#sezione-missfutur{
		width: 95%;
		height: 600px;   
		padding-left: 5%;
		padding-top: 5%;
		position: relative;
	}
	
	
  
    #sezione-missfutur h2{
        margin-bottom: 2%;
        color: whitesmoke;
    }
	
	
	/*Missioni Passate*/
	
	#sezione-misspassate{
		width: 95%;
		height: 600px;   
		padding-left: 5%;
		padding-top: 5%;
		position: relative;
	}
	
	
  
    #sezione-misspassate h2{
        margin-bottom: 2%;
        color: whitesmoke;
    }
	
	
	/*Missioni Correnti*/
	#sezione-misscorrenti{
		width: 95%;
		height: 600px;   
		padding-left: 5%;
		padding-top: 5%;
		position: relative;
	}
	
	
  
    #sezione-misscorrenti h2{
        margin-bottom: 2%;
        color: whitesmoke;
    }




	.singola-missione1{
		color: white;
		display: inline-block;
		width: 33%;
		padding: 0 2%;
		margin-left: 10%;
		text-align: center;
	}
 
	.singola-missione1 img{
        height: 360px;
		width: 360px;
		cursor: pointer;
    }
		
	
	.singola-missione2{
		color: white;
		display: inline-block;
		width: 33%;
		padding: 0 2%;
		margin-left: 10%;
		text-align: center;
	}
 
    .singola-missione2 img{
        height: 360px;
		width: 360px;
		cursor: pointer;
    }
	
	
	.singola-missione3{
		color: white;
		display: inline-block;
		width: 33%;
		padding: 0 2%;
		margin-left: 10%;
		text-align: center;
	}
 
    .singola-missione3 img{
        height: 360px;
		width: 360px;
		cursor: pointer;
    }
	
	
	
	
	
	/*Classi Utilizzate dal js per mostrare e nascondere le varie immagini*/
	
	.show{
		display: inline-block;
	}

	.hide{
		display: none;
	}
	
	
	
	/*Specifiche delle Freccie per andare avanti e indietro nello slider di immagini*/
	
	#gallery-forward-btn1{
        position: absolute;
		top: 50%;
        right: -5%;
        font-size:48px;
    }

    #gallery-backward-btn1{
        position: absolute;
		top: 50%;
        left: 0;
        font-size:48px;
    }
	
	
	
	#gallery-forward-btn2{
        position: absolute;
		top: 50%;
        right: -5%;
        font-size:48px;
    }

    #gallery-backward-btn2{
        position: absolute;
		top: 50%;
        left: 0;
        font-size:48px;
    }
	
	
	
	#gallery-forward-btn3{
        position: absolute;
		top: 50%;
        right: -5%;
        font-size:48px;
    }

    #gallery-backward-btn3{
        position: absolute;
		top: 50%;
        left: 0;
        font-size:48px;
    }
	
	
	
	.gallery-nav-button{
		color: whitesmoke;
	}
	
    .gallery-nav-button:hover{
        cursor: pointer;
        background-color: darkgray;
    }
	
	
	
	
	/*Specifiche del contenitore delle descrizioni*/
	
	.form-container .btn {
		background-color: black;
		color: white;
		padding: 16px 20px;
		font-family: 'Montserrat', sans-serif;
		cursor: pointer;
		width: 100%;
		margin-bottom:10px;
		opacity: 0.8;
		border-radius: 25px;
	}
	
	.form-container {
		padding: 10px;
		background-color: white;
		border-radius: 25px;
		background: #003153;
	}
	
	.form-popup {
		position: absolute;
		width: 42%;
		text-align: center;
		bottom: 1%;
		margin-left: -5%;
	}
	
	button{
		
		z-index: 9;
		
	}

	form a{
		color: white;
		text-decoration: underline;
	}

	/* Effetti sul pulsante di chiusura */
	.form-container .btn:hover, .open-button:hover {
	  opacity: 1;
	}
	
}
