
body{
	background-image: url("../../images/backgrounds/main-background.jpg");
	font-family: 'Montserrat', sans-serif;
	color: white;
}

* {
	box-sizing: border-box;
}

.anchor {
	text-decoration: none;
	color: white;
}