

/* Mobile */

@media screen and (max-width: 1100px) {

	body {
		text-align: center;
	}

	h2 {
		text-align: left;
		padding-left: 20px;
	}
	
	div {
	  box-sizing: border-box;
	}
	
	
	figure{
		display: inline-table;
		text-align: center;
		width: 90%;
		margin: 0;
	}
	
	figcaption{
		visibility: hidden;
	}

	
	.popup .popuptext {
	  visibility: visible;
	  width: 350px;
	  background-color: #003153;
	  color: white;
	  text-align: center;
	  border-radius: 6px;
	  position: absolute;
	  z-index: 1;
	  bottom: -5%;
	}
	
 
	.singola-missione1 img{
        height: 360px;
		width: 360px;
		cursor: pointer;
    }
		
	
 
    .singola-missione2 img{
        height: 360px;
		width: 360px;
		cursor: pointer;
    }
	
 
    .singola-missione3 img{
        height: 360px;
		width: 360px;
		cursor: pointer;
    }
	
	
	button{
		visibility: hidden;
		
	}
	
	
	#gallery-forward-btn1{
        display: none;
    }

	#gallery-forward-btn2{
        display: none;
    }

	#gallery-forward-btn3{
		display: none;
	}
	
	#gallery-backward-btn1{
		display: none;
    }
	
	#gallery-backward-btn2{
		display: none;
    }
	
	#gallery-backward-btn3{
		display: none;
    }
}

