/*
 *  General rules
 */

* {
     box-sizing: border-box;
     font-family: 'Montserrat', sans-serif;
}

body {
     margin: 0;
     font-family: 'Montserrat', sans-serif;
     color: rgb(125, 125, 125);
}

h2 {
     color: #333;
     font-weight: bolder;
}

 /*
  *  Content rules
  */

.content {
    background-image: url("../../images/homepage/placeholder-sections.webp");
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 250px;
}

.forms {
     width: 50%;
     position: relative;
     top: 100px;
     padding: 30px 0;;
     margin: 0 auto;
     text-align: center;
     background-color: white;
     border-radius: 0.2em;
}

input, select {
     margin-bottom: 30px ;
}


 input[type=text],
 input[type=number],
 input[type=date],
 input[type=password],
 input[type=email],
 input[type=tel],
 textarea,
 select {
     width: 70%;
     border-style: none;
     border-bottom: 1px solid rgb(162, 162, 162);
     display: inline-block;
     padding: 6px 10px;
} 

input[type=text]:focus,
input[type=number]:focus,
input[type=tel]:focus,
input[type=email]:focus,
input[type=password]:focus,
input[type=date]:focus,
select:focus {
    outline: none;
    border-bottom: 2px solid rgb(108, 108, 255);
}

input[type=date] {
    width: 60%;
}

input[type = radio] {
    margin-bottom: 30px;
    margin-left: 40px;
}

input#male {
    margin-left: 0;
}

input[type="radio"]::after {
    position: relative;
    left: -1px;
    top: -1px;
    box-sizing: border-box;
    content: "";
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 1em;
    border: 1px solid rgb(162, 162, 162);;
    background-color: #fff;
    box-shadow: 1px 1px 1px rgba(0,0,0,.1); 
}

input[type="radio"]:hover::after {
    background-color: #77a2b2;  
} 

input[type="radio"]:checked::after {
    border: 2px solid white;
     background-color: #003041;  
} 

textarea {
    color: black;
    resize: none;
    border: 2px solid rgb(162, 162, 162);
}

textarea:focus {
    border: 2px solid rgb(108, 108, 255);
}

#country,
#city {
    width: 35%;
}

#country {
    margin-right: 0;
}

input[type="submit"],
input[type="reset"] {
    background-image: url("../../images/images-joinus/stars-navbar.png");
    border: none;
    color: white;
    padding: 15px;
    width: 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
 }

 input[type="submit"] {
     margin-right: 12%;
 }

 .form-details {
     position: absolute;
     font-size: small;
     right: 15px;
     bottom: 15px;
 }

/*
 *  Mediaqueries
 */

@media screen and (max-width: 1024px) {
    .forms {
        width: 80%;
    }
}

/* Smartphone view */

@media screen and (max-width: 780px) {

    .forms {
        width: 95%;
        top: 10px;
    }

    input[type="submit"],
    input[type="reset"] {
        padding: 10px;
    }

    input[type="submit"] {
        margin-right: 18%;
    }

    .content {
        padding-bottom: 20px;
    }
}
