/*
 *  General Rules
 */
body {
    font-family: 'Montserrat', sans-serif;
}

/*
 *  Content rules
 */
.content {
    background-image: url("../../images/homepage/placeholder-sections.webp");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding: 200px 0;

}

.content-text {
    width: 50%;
    padding: 30px 0;;
    margin: 0  auto;
    text-align: center;
    background-color: white;
    border-radius: 0.2em;
}

.content-text p {
    font-size: larger;
    text-align: justify;
    margin: 0 30px;
}

.content-text h2 {
    text-align: left;
    margin-left: 15px;
}

.content-text a {
    color: darkblue;
}
.content-text a:hover {
    color: blue;
    text-decoration: underline;
}

.content-text img {
    border-radius: 1em;
}

/*
 *  Mediaqueries
 */

 @media screen and (max-width: 1024px) {
    .content-text {
        width: 80%;
    }
}

/* Smartphone view */

@media screen and (max-width: 780px) {

    .content-text {
        width: 95%;
        top: 10px;
    }

    .content {
        padding: 10px 0;
    }
}
